@model Finanzas.Models.Usuario

@{
    ViewBag.Title = "Bienvenido " + Model.nombre;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenid@@ @Model.nombre @Model.apellido,</h2>
<p>Para proyectar el flujo de caja de un bono coporativo proceda a "Calcular Bono", para ver los calculos guardados en el sistema proceda a "Cálculos Almacenados" y para cambiar la configuración de su cuenta proceda a "Configuración"</p>

