@model IEnumerable<Finanzas.Models.Bono>

@{
    ViewBag.Title = "Bonos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Tipo de actor
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.nombre, "Resultados", "Bono", new { bonoId = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoActor)
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "text-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
