USE [master]
GO
/****** Object:  Database [FinanzasDB]    Script Date: 23/05/2018 14:22:05 ******/
CREATE DATABASE [FinanzasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinanzasDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FinanzasDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FinanzasDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FinanzasDB.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinanzasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinanzasDB]
GO
/****** Object:  Table [dbo].[Bono]    Script Date: 23/05/2018 14:22:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bono](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[vnominal] [float] NOT NULL,
	[vcomercial] [float] NOT NULL,
	[años] [int] NOT NULL,
	[frecuencia] [int] NOT NULL,
	[diasAño] [int] NOT NULL,
	[tipoInteres] [varchar](20) NOT NULL,
	[capitalizacion] [int] NULL,
	[tasaInteres] [float] NOT NULL,
	[tasaDescuento] [float] NOT NULL,
	[impuestoRenta] [float] NOT NULL,
	[fechaEmision] [date] NOT NULL,
	[pPrima] [float] NOT NULL,
	[pEstructura] [float] NOT NULL,
	[pColoca] [float] NOT NULL,
	[pFlota] [float] NOT NULL,
	[pCAVALI] [float] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[tipoActor] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/05/2018 14:22:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Bono]  WITH CHECK ADD  CONSTRAINT [FK_Bono_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Bono] CHECK CONSTRAINT [FK_Bono_Usuario]
GO
USE [master]
GO
